<html>
    <head>
        <meta charset="utf-8">
        <title>Game</title>
        <link rel="stylesheet" type="text/css" href="/static/css/game.css">
    </head>
    <body>
        <!-- TODO Ux/Ui -> Ana Júlia, tks -->
        <canvas id="screen" width="10" height="10"></canvas>
        <div calss="scoreBoard" id="scoreBoard">
            <span class="label">Pontuação:</span>
            <span class="score" id="score">0</span>
        </div>
        <div class="logout-container"> 
            <a href="/logout/">
              <button class="logout-button">Logout</button>
            </a>
          </div>
        <div>
            <p id="contador">Tempo restante: <span id="timer">30</span> segundos</p>
            <button id="startButton" onclick="game.countDownTimer()">Start</button>
        </div>
        <script>
            const screen = document.getElementById('screen')
            const context = screen.getContext('2d')
            
            // Rules layer
            function checkMapLimitationRule(keyPressed, state) {
                const moving = {
                        'ArrowUp': (state.player.y - 1 >= 0 ? true : false),
                        'ArrowDown': (state.player.y + 1 < screen.height ? true : false),
                        'ArrowRight': (state.player.x + 1 < screen.width ? true : false),
                        'ArrowLeft': (state.player.x - 1 >= 0 ? true : false),
                    }
                return moving[keyPressed]
            }

            function checkPlayerEatFruit(state) {
                if (state.player.x == state.fruit.x && state.player.y == state.fruit.y){
                    return true
                } else {
                    return false
                }
            }

            function checkGameTimer(timeNow, interval, state) {
                if (timeNow === 0) {
                    alert(`Game Over, you have eated ${state.player.score}`)
                    clearInterval(interval)
                    return true
                } else {
                    return false
                }
            }
            
            // Game layer
            function createGame() {
                const state = {
                    player: { 
                        x: 0, y: 0, score: 0
                    },
                    fruit: {
                        x:0, y:0
                    },
                    timer: 60
                }  
                function movePlayerIfNecessary(keyPressed) {
                    if (checkMapLimitationRule(keyPressed, state)) {
                        if (keyPressed === 'ArrowUp') {
                            state.player.y = state.player.y - 1;
                        }
                        if (keyPressed === 'ArrowDown') {
                            state.player.y = state.player.y + 1;
                        }
                        if (keyPressed === 'ArrowRight') {
                            state.player.x = state.player.x + 1;
                        }
                        if (keyPressed === 'ArrowLeft') {
                            state.player.x = state.player.x - 1;
                        }                        
                        console.log(`Moving player with ${keyPressed}`)
                    } else {
                    console.log('You are at the edge of the map')
                    }
                }
                function increasePlayerScoreIfNecessary() {
                    if (checkPlayerEatFruit(state)) {
                        state.player.score += 1
                        renderScoreBoard(state)
                    }                  
                }
                function replaceFruitIfNecessary() {
                    if (checkPlayerEatFruit(state)) {
                        min = Math.ceil(0);
                        max = Math.floor(9);

                        state.fruit.x = Math.floor(Math.random() * (max - min + 1) + min);
                        state.fruit.y = Math.floor(Math.random() * (max - min + 1) + min);

                        console.log(`fruit x: ${state.fruit.x}, fruit y: ${state.fruit.y}`)
                    }
                }
                function countDownTimer() {
                    var timeNow = 30
                    var interval = setInterval(() => {
                        timeNow--;

                        if (checkGameTimer(timeNow, interval, state) === false) {
                            renderTimer(timeNow)
                        }
                    }, 1000);
                }
                return {
                    movePlayerIfNecessary,
                    increasePlayerScoreIfNecessary,
                    replaceFruitIfNecessary,
                    countDownTimer,
                    state
                }
            }

            // TODO player can't move while timer is not counting down
            // TODO after the alert, restart score and timer values

            const game = createGame() 
            
            // Input layer
            document.addEventListener('keydown', handleKeydown)

            function handleKeydown(event) {
                const keyPressed = event.key

                game.movePlayerIfNecessary(keyPressed)
                game.increasePlayerScoreIfNecessary()
            }

            // Presentation layer
            renderScreen()

            function renderScreen() {
                context.clearRect(0, 0, 10, 10)

                context.fillStyle = 'black'
                context.fillRect(game.state.player.x, game.state.player.y, 1, 1)
                
                game.replaceFruitIfNecessary()
                context.fillStyle = 'green'
                context.fillRect(game.state.fruit.x, game.state.fruit.y, 1, 1)

                requestAnimationFrame(renderScreen)
            }

            function renderScoreBoard(state) {
                document.getElementById('score').textContent = state.player.score
            }

            function renderTimer(timeNow) {
                document.getElementById('timer').textContent = timeNow
            }

        </script>
    </body>
</html>