<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro</title>
        <link rel="stylesheet" type="text/css" href="/static/css/register.css">
    </head>
    <body>
        <div class="container">
            <h2>Cadastro</h2>
            <form method="POST">
                {% csrf_token %}
                <div action="{% url 'register' %}" class="form-group">
                    <label for="login">Login:</label>
                    <input type="text" id="login" name="login" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
            <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login.</a></p>

        </div>
    </body>
</html>
